@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.navbar {
    display: flex;
    border-bottom: 1px solid;
    margin: 10px 5%;
    justify-content: space-between;
    min-height: 65px;
    font-weight: bold;
    font-family: Outfit;
    align-items: center;
    /* background-color: rgb(202, 202, 212); */
    padding: 0px 10px;
    border-radius: 3px;

    /* New properties */

}

.navbar span {
    font-size: 25px;
    cursor: pointer;
}

.navbar span:hover {
    text-shadow: 1px 1px grey;
}

.navbar ul {
    padding-top: 10px;
    display: flex;
    gap: 15px;
    text-decoration: none;
    padding: 0px;
    font-size: 18px;

}

.navbar a {
    text-decoration: none;
    list-style: none;
    color: black;
    font-weight: 500;
}

.navbar a:hover {
    font-weight: bold;
}

hr {
    display: none;
}

.active hr {
    display: block;
    outline: none;
    /* width: 15px; */
}

.nav-btn {
    display: flex;
    /* align-items: center; */
    gap: 10px;
}

.nav-btn button {
    border: none;
    outline: none;
    width: auto;
    font-size: 15px;
    border-radius: 9px;
    padding: 10px;
    font-family: Outfit;
    font-weight: 500;
    width: 100px;
    box-shadow: 1.5px 1.5px black;
    transition: all ease 0.5s;
    border: 1px medium;
    cursor: pointer;
}

.nav-btn button:hover {
    box-shadow: none;
    font-size: 14px;
}

/* .nav-btn .logout-btn{
    background-color: red;
    padding-left: 14px;
}
.nav-btn .dashboard-btn{
    display: flex;
    background-color: #9494ff;
    gap: 12px;
    width: max-content;
    align-items: center;
} */

.dashboard-container {
    position: relative;
    cursor: pointer;
}

.dashboard-icon {
    width: 30px;
    height: 30px;
}

.dropdown {
    position: absolute;
    top: 35px;
    left: 0rem;
    background-color: rgb(112, 169, 255);
    border: 1px solid #ddd;
    border-radius: 10px;
    gap:10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    width: 110px;
}

.dropdown button {
    background-color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.dropdown button:hover {
    background-color: #f1f1f1;
}

.logout-btn {
    color: red;
}